<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Smart\SurveyForm\Api\Repository\QuestionRepositoryInterface" type="Smart\SurveyForm\Model\Repository\QuestionRepository"/>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="smart_question_listing_data_source" xsi:type="string">Smart\SurveyForm\Model\ResourceModel\Question\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Smart\SurveyForm\Model\ResourceModel\Question\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">smart_survey_question</argument>
            <argument name="resourceModel" xsi:type="string">Smart\SurveyForm\Model\ResourceModel\Question\QuestionModel</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="smart_answer_listing_data_source" xsi:type="string">Smart\SurveyForm\Model\ResourceModel\Answer\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Smart\SurveyForm\Model\ResourceModel\Answer\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">smart_survey_answer</argument>
            <argument name="resourceModel" xsi:type="string">Smart\SurveyForm\Model\ResourceModel\Answer\AnswerModel</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="smart_form_listing_data_source" xsi:type="string">Smart\SurveyForm\Model\ResourceModel\Form\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Smart\SurveyForm\Model\ResourceModel\Form\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">smart_survey_form_list</argument>
            <argument name="resourceModel" xsi:type="string">Smart\SurveyForm\Model\ResourceModel\Form\FormModel</argument>
        </arguments>
    </virtualType>
</config>
