<?xml version="1.0"?>
<!--
/**
 * Cowell Commerce.
 *
 * @category   Cowell
 * @package    Cowell_ProductExtensionAttributeImport
 * @author     Extension Team
 * @copyright  Copyright (c) 2020-2021 Cowell Commerce.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="Magento\Catalog\Api\Data\ProductInterface" xsi:type="array">
                    <item name="read" xsi:type="array">
                        <item name="customerPersistor" xsi:type="string">
                            Cowell\ProductExtensionAttributeImport\Model\Product\Customer\ReadHandler
                        </item>
                    </item>
                    <item name="create" xsi:type="array">
                        <item name="customerPersistor" xsi:type="string">
                            Cowell\ProductExtensionAttributeImport\Model\Product\Customer\SaveHandler
                        </item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="customerPersistor" xsi:type="string">
                            Cowell\ProductExtensionAttributeImport\Model\Product\Customer\SaveHandler
                        </item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogImportExport\Model\Export\RowCustomizer\Composite">
        <arguments>
            <argument name="customizers" xsi:type="array">
                <item name="customerProduct" xsi:type="string">Cowell\ProductExtensionAttributeImport\Model\Export\RowCustomizer</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogImportExport\Model\Import\Product\Validator">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="customer" xsi:type="object">Cowell\ProductExtensionAttributeImport\Model\Import\Product\Validator\Customer</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\ImportExport\Model\Export">
        <plugin name="add_product_customer_to_filter" type="Cowell\ProductExtensionAttributeImport\Plugin\Model\ExportPlugin" />
    </type>
    <type name="Magento\CatalogImportExport\Model\Export\ProductFilters">
        <arguments>
            <argument name="filters" xsi:type="array">
                <item name="customer_ids" xsi:type="object">Cowell\ProductExtensionAttributeImport\Model\Export\Product\CustomerFilter</item>
            </argument>
        </arguments>
    </type>
</config>
