<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Example\ExtensionAttributes\Api\Data\CustomDataInterface" type="Example\ExtensionAttributes\Model\Product\CustomData" />

    <type name="Magento\Catalog\Api\ProductRepositoryInterface">
        <plugin name="processExampleSimpleExtensionAttributes" type="Example\ExtensionAttributes\Plugin\ProcessExampleAttributes" />
    </type>
    <type name="Magento\Catalog\Api\Data\ProductInterface">
        <plugin name="getExtensionAttributesAfter" type="Example\ExtensionAttributes\Plugin\getExtensionAttributesAfter" />
    </type>

    <type name="Magento\CatalogImportExport\Model\Import\Product\Validator">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="product_group_id" xsi:type="object">Example\ExtensionAttributes\Model\Import\Product\Validator\ProductGroupValidate</item>
            </argument>
        </arguments>
    </type>
</config>
